<div class="mb-4">
    
     <% autofocus = "autofocus" unless params[:q] %>
    <form class="form search__form" action="<%= search_path %>">
     <div class="d" style="padding: 10px 80px;">
         <form class="d-flex"> 
            <input class="form__input search__input" type="form" name="q" value="<%= params[:q] %>" id="form" <%= autofocus %> placeholder="O que você procura?">
         </form>
            <button class="btn search__btn" type="submit">
              <span class="ion-search"></span>
           </button>
      </div>
       
     </form>

</div>
              